@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes zoom-vanish {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(3); }
}

.splash-exit {
  animation: zoom-vanish 0.8s forwards ease-in-out;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.pause-on-hover:hover .animate-marquee {
  animation-play-state: paused;
}
